
<div class="container">
<%= image_tag "coffeetalk.png", height: 100 %>
  <div class="row top-10">
    <div class="col-8">
        <div class="card chatbox-height">
            <div class="card-body">
                <div class = "formatting">
                    <label for="exampleFormControlInput1" class="form-label">Username/Email :
                    <input type="email" class="form-control" id="exampleFormControlInput1" placeholder="Enter Username/Email" /></label> <br />
                    <label for="exampleFormControlInput1" class="form-label">Password :
                    <input type="password" class="form-control" id="exampleFormControlInput1" placeholder="Enter your password here" /></label><br />
                    <button type="button" class="btn btn-dark">Login</button>
                </div>
                    
            </div>
</div>
    </div>
    <div class="col-4">
        <div class="card chatbox-height">
            <ul class="list-group list-group-flush formatting">
                <button type="button" class="btn btn-dark">Sign up</button>
            </ul>
        </div>
    </div>
  </div>
</div>
