<div class="container text-center">
<%= image_tag "coffeetalk.png", height: 100 %>
  <div class="row top-10">
    <div class="col-8">
        <div class="card chatbox-height scroll">
            <div class="card-body text-format">
                <%= render @messages %>
            </div>
        </div>
        <div class="input-group mb-3 top-gap">
            <input type="text" class="form-control" placeholder="Hi, Say Something - Its Coffee talk Time." aria-label="Recipient's username" aria-describedby="button-addon2">
            <button class="btn btn-outline-secondary" type="button">Send</button>
        </div>
    </div>
    <div class="col-4">
        <div class="card chatbox-height">
            <ul class="list-group list-group-flush">
                <li class="list-group-item color-black-white">Home</li>
                <li class="list-group-item color-black-white">Messages</li>
                <li class="list-group-item color-black-white">Friends</li>
            </ul>
        </div>
    </div>
  </div>
</div>