.chatbox-height{
    height: 500px;
}

.text-format{
    text-align: justify;
}

.color-black-white{
    text-decoration-color: white;
    color: white;
    background-color: #664229;
}
.top-gap{
    top:5px;
}

.scroll {
    overflow-y: auto;
}

.formatting{
    margin-top: 100px;
    margin-left: 100px;
    margin-right: 100px;
    margin-bottom: 100px;
}